#img1 {
    background: url(./images/blaire-ivory.jpg);
    background-size: cover;
    background-position: center;
}
#img2 {
    background: url(./images/alisa-amore1.jpg);
    background-size: cover;
    background-position: center;
}
#img3 {
    background: url(./images/natatasha-udovenko1.jpg);
    background-size: cover;
    background-position: center;
}
#img4 {
    background: url(./images/alecia-fox.jpg);
    background-size: cover;
    background-position: center;
}
#img5 {
    background: url(./images/casey-calvert-3.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
#img6 {
    background: url(./images/EMILY-WILLIS.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
#img7 {
    background: url(./images/alexa-grace.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
#img8 {
    background: url(./images/elena-koshka-1.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
#img9 {
    background: url(./images/eva-elfie.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
#img10 {
    background: url(./images/evelyn-claire-3.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
#img11 {
    background: url(./images/georgia-jones\ \(7\).jpg);
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
#img12 {
    background: url(./images/haley-reed\ \(7\).jpg);
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
#img13 {
    background: url(./images/ivy-aura\ \(8\).jpg);
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
#img14 {
    background: url(./images/janice-griffith\ \(17\).jpg);
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
#img15 {
    background: url(./images/jaye-summers\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
#img16 {
    background: url(./images/jia-lissa\ \(4\).jpg);
    background-size: cover;
    background-position: center;
    /* background-position-y: top; */
}
#img17 {
    background: url(./images/kendra-sunderland\ \(16\).jpg);
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
#img18 {
    background: url(./images/kenna-james.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
